<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>753507056263-vt3qlr5h5qkgf5li1fmlt9792nirlgqv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.753507056263-vt3qlr5h5qkgf5li1fmlt9792nirlgqv</string>
	<key>API_KEY</key>
	<string>AIzaSyAGgarBtzu7wBGYrBgXBvPzB_X8E-i7Ums</string>
	<key>GCM_SENDER_ID</key>
	<string>753507056263</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.EventManagement.app</string>
	<key>PROJECT_ID</key>
	<string>eventmanagementapp-11d48</string>
	<key>STORAGE_BUCKET</key>
	<string>eventmanagementapp-11d48.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:753507056263:ios:10900bbcc551a092e29622</string>
</dict>
</plist>